@import "../../styles/vars.scss";

.footer {
    @media (min-width: $medium) {
        background: #FAFAFA;
    }

    &__newsletter {
        background: #FAFAFA;
        border-top: 2px solid $gray;
        border-bottom: 2px solid $gray;
        padding: 24px 0;
        margin-bottom: 37px;

        @media (min-width: $medium) {
            padding: 40px 0;
            margin-bottom: 43px;
            
            .container-footer {
                display: flex;
                align-items: center;
                gap: 56px;
            }
        }

        h2 {
            @include font-bold(24px, $p-color);

            margin-bottom: 8px;
            text-align: center;
            white-space: nowrap;

            @media (min-width: $medium) {
                margin: 0;
            }
        }

        .footer__newsletter__form {
            @include fill;

            display: flex;
            gap: 15px;
            position: relative;

            input {
                @include font-normal(14px, $p-color);
                @include fill;
                @include placeholder($p-color);

                padding-left: 24px;
                border-radius: 4px;
                border: 1px solid $p-color;
                height: 26px;
                box-sizing: border-box;

                @media (min-width: $medium) {
                    height: 40px;
                    padding-right: 135px;
                }
            }

            button {
                @include font-bold(14px, $white);

                height: 26px;
                width: 79px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $s-color;
                cursor: pointer;

                @media (min-width: $medium) {
                    height: 40px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 16px;
                    width: 131px;
                }
            }
        }
    }

    .footer__accordions {
        margin-bottom: 57px;

        &__item {
            box-shadow: none;
            margin-bottom: 17px;

            &:before {
                display: none;
            }

            &__summary {
                padding: 0;
                min-height: 0;

                &__content {
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        @include font-bold(16px, $p-color);
                    }

                    &__icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:before, &:after {
                            content: "";
                            background: $p-color;
                            width: 7px;
                            height: 2px;
                            display: block;
                            transition: .3s;
                        }

                        &:after {
                            position: absolute;
                            transform: rotate(-90deg);
                        }
                    }

                    &--expanded {
                        div {
                            &:after {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }

            &__details {
                padding: 0;
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                    @include font-normal(12px, $p-color);

                    text-decoration: none;
                }
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding-bottom: 64px;

        &__column {
            p {
                @include font-bold(16px, $p-color);

                margin-bottom: 25px;
            }

            &__anchors {
                display: flex;
                flex-direction: column;
                gap: 24px;

                a {
                    @include font-normal(12px, $p-color);

                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__bottom {
        background: $p-color;
        padding-top: 24px;

        .footer__bottom {
            padding: 0;
        }

        @media (min-width: $medium) {
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__social, &__payment, &__organizers {
            display: flex;
            gap: 24px;
            justify-content: center;
            padding-bottom: 35px;
            align-items: center;

            @media (min-width: $medium) {
                padding-bottom: 20px;
            }

            p {
                @include font-normal(10px, $white);

                margin-bottom: 3px;
            }
        }
    }
}