@import "../../styles/vars.scss";

.home {
    &__storeBrands {
        margin-bottom: 34px;

        @media (min-width: $medium) {
            margin-bottom: 75px;
        }

        @media (max-width: $medium) {
            &.container {
                padding: 0;
            }
        }

        h2 {
            @include font-bold(24px, $p-color);

            text-align: center;
            margin-bottom: 20px;

            @media (min-width: $medium) {
                @include font-bold(32px, $p-color);

                margin-bottom: 12px;
            }
        }

        &__content {
            display: flex;
            gap: 16px;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 5px 31px;

            &::-webkit-scrollbar {
                height: 0;
            }

            @media (min-width: $medium) {
                padding: 5px 0;
                overflow: hidden;
            }

            &__card {
                min-width: 298px;
                box-sizing: border-box;
                height: 64px;
                border-radius: 4px;
                display: flex;
                gap: 21px;
                align-items: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);

                @media (min-width: $medium) {
                    @include fill;
                    box-shadow: 0px 1px 10px rgb(0 0 0 / 4%);
                }

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}